
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Danh sách bai viết</title>
<meta name="keywords" content = " "/>	
<meta name="description" content = ""/>
<base href="<?php echo ITQ_BASE_URL;?>"/>
<link rel="stylesheet" href="css/normalize.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="js/1.7.2.jquery.min.js"></script>
</head>
<body>
﻿<section class="itq-wrapper">
	<header class="itq-header"><p>Hệ thống quản trị website</p></header>
	<nav class="navigation">
			<ul class="main">
				<li class="main"><a class="main" href="#">Hệ thống</a>
					<ul class="item">
						<li class="item"><a class="item" href="#">Cấu hình</a>
							<ul class="sub">
								<li class="sub"><a class="sub" href="#">Trang quản trị</a></li>
								<li class="sub"><a class="sub" href="#">Trang chủ</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="main"><a class="main" href="#">Module</a>
					<ul class="item">
						<li class="item"><a class="item" href="#">Quảng cáo</a></li>
						<li class="item"><a class="item" href="#">Hỗ trợ trực tuyến</a></li>
						<li class="item"><a class="item" href="#">Từ khóa</a></li>
						<li class="item"><a class="item" href="#">Phản hồi</a></li>
					</ul>
				</li>
				<li class="main"><a class="main" href="#">Bài viết</a>
					<ul class="item">
						<li class="item"><a class="item" href="#">Danh mục</a></li>
						<li class="item"><a class="item" href="#">Bài viết</a></li>
					</ul>
				</li>
				<li class="main"><a class="main" href="#">Phản hồi</a></li>
			</ul>
			<ul class="user-account">
				<li>Chào <strong>Lương Mạnh Đoàn</strong></li>
				<li><a href="#">Thông tin</a></li>
				<li><a href="#">Đăng xuất</a></li>
			</ul>
	</nav>
	<section class="itq-tab">
		<h1>Thêm bài viết</h1>
		<ul>
			<li class="active"><a href="#">Danh mục bài viết</a></li>
			<li><a href="#">Danh sách bài viết</a></li>
		</ul>
	</section>
	<section class="itq-form">
		<section class="main-panel">
			<form method="post" action="">
				<header>Thông tin chung</header>
				<ul class="error">
					<li>Tên sử dụng không được để trống</li>
					<li>Mật không được để trống</li>
				</ul>
				<section class="block">
					<label class="item">
						<p class="label">Tiêu đề:</p>
						<input type="text" value="" class="txtText"/>
					</label>
					<label class="item">
						<p class="label">Danh mục:</p>
						<select class="cbSelect"><option>--Chọn danh mục--</option></select>
					</label>
					<label class="item">
						<p class="label">Nội dung:</p>
						<textarea type="text" value="" class="txtTextarea"></textarea> 
					</label>
					<section class="checkbox-radio">
						<p class="label">Lựa chọn:</p>
						<section class="group">	
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 4</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 4</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="checkbox" value="" class=""/><span>Lựa chọn 4</span></label>
						</section>
					</section><!--.checkbox-radio-->
					<section class="checkbox-radio">
						<p class="label">Lựa chọn:</p>
						<section class="group">
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 4</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 4</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 4</span></label><label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 1</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 2</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 3</span></label>
							<label><input type="radio" name="radio" value="" class=""/><span>Lựa chọn 4</span></label>							
						</section>
					</section><!--.checkbox-radio-->
					<section class="action"><!--.action-->
						<p class="label">Thao tác:</p>
						<section class="group">
							<input type="submit" name="add" value="Thêm mới"/>
							<input type="submit" name="reset" value="Làm lại"/>
						</section>					
					</section>
				</section><!--.block-->
			
			</form>
		</section><!--.main-panel-->
		<aside class="side-panel">
				<section class="block">
					<header>Nâng cao</header>
					<section class="container">						
							<section class="checkbox-radio">
								<p class="label">Lựa chọn:</p>
								<section class="group">	
									<label><input type="checkbox" value="" class=""/><span>Có</span></label>
									<label><input type="checkbox" value="" class=""/><span>Không</span></label>
								</section>
							</section><!--.checkbox-radio-->
							
					</section>	
				</section><!--.block-->	
				<section class="block"><!--.block-->
					<header>Nâng cao</header>	
					<section class="container">	
						<label class="item">
							<p class="label">Tiêu đề:</p>
							<input type="text" value="" class="txtText"/>
						</label>
						<label class="item">
							<p class="label">Danh mục:</p>
							<select class="cbSelect"><option>--Chọn danh mục--</option></select>
						</label>
						<label class="item">
							<p class="label">Nội dung:</p>
							<textarea type="text" value="" class="txtTextarea"></textarea> 
						</label>
					</section><!--.container-->
				</section><!--.block-->
		</aside><!--.aside-panel-->
	</section><!--.itq-form-->
	</section><!--.itq-wraper-->
	<footer><p>copyright &copy; powered by <a href="#" title="">FSoft</a></p></footer>
	<script type="text/javascript" src="js/function.js"></script>
</body>
</html>